@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swa');

:root {
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}

body {
    background-color: var(--cream);
}

.card {
    display: flex;
    width: 50%;
    margin: 100px auto;
    border-radius: 20px;
    overflow: hidden;
}

.main-image {
    height: 500px;
}

.price {
    display: flex;
    align-items: center;
}

.original-price {
    margin-left: 40px;
}

.component-image {
    width: 100%;
}

.component-text {
    width: 100%;
    background-color: white;
    padding: 40px;
}

.perfume-header {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: var(--dark-grayish-blue);
}

.description {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: var(--dark-grayish-blue);
    font-size: 14px;
    line-height: 1.6rem;
}

button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    width: 100%;
    height: 40px;
    background-color: var(--dark-cyan);
    border: none;
    color: white;
    border-radius: 4px;

}

button:hover {
    background-color: darkslategray;
    cursor: pointer;
}

h1 {
    font-family: 'Fraunces', sans-serif;
    color: var(--very-dark-blue);
}

h2 {
    font-family: 'Fraunces', sans-serif;
    color: var(--dark-cyan);
}

.original-price {
    font-family: 'Montserrat', sans-serif;
    text-decoration: line-through;
    color: var(--dark-grayish-blue);
    font-size: 14px;
}



@media screen and (max-width: 768px) {

    .card {
        display: block;
    }

    .main-image {
        width: 100%;
        height: 200px;
    }

    .component-text {
        width: 100%;
        background-color: white;
        padding: 20px;
    }
